version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 2310
      MYSQL_DATABASE: drs_clean
      MYSQL_USER: drs_user
      MYSQL_PASSWORD: drs_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./docker
    ports:
      - "5000:5000"
    environment:
      DB_USER: drs_user
      DB_PASSWORD: drs_pass
      DB_HOST: db
      DB_NAME: drs_clean
    depends_on:
      - db


  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # sprečava konflikte između hosta i kontejnera
    command: npm run dev -- --host


volumes:
  db_data:
