services:
  - type: web
    name: drs-backend
    env: docker
    plan: free
    dockerfilePath: backend/Dockerfile
    context: backend             # ⬅⬅⬅ OVA LINIJA JE KLJUČNA
    startCommand: "python app.py"
    envVars:
      - key: DB_USER
        value: sql7787897
      - key: DB_PASSWORD
        value: SbjFwu2Fa3
      - key: DB_HOST
        value: sql7.freesqldatabase.com
      - key: DB_NAME
        value: sql7787897
    autoDeploy: true

  - type: web
    name: drs-frontend
    env: docker
    plan: free
    dockerfilePath: frontend/Dockerfile
    context: frontend            # ⬅⬅⬅ Dodaj i ovde za frontend
    startCommand: "npm run preview -- --host"
    autoDeploy: true
