services:
  - type: web
    name: drs-backend
    env: docker
    plan: free
    dockerfilePath: backend/Dockerfile.render   # Ovdje je promjena
    envVars:
      - key: DB_USER
        value: sql7787897
      - key: DB_PASSWORD
        value: SbjFwu2Fa3
      - key: DB_HOST
        value: sql7.freesqldatabase.com
      - key: DB_NAME
        value: sql7787897
    autoDeploy: true


  - type: web
    name: drs-frontend
    env: docker
    dockerfilePath: frontend/Dockerfile.render
    buildCommand: ""
    plan: free
    startCommand: "npm run preview -- --host"

