services:
  - type: web
    name: drs-backend
    env: docker
    plan: free
    dockerfilePath: backend/Dockerfile
    buildCommand: ""
    envVars:
      - key: DB_USER
        value: sql7787897
      - key: DB_PASSWORD
        value: SbjFwu2Fa3
      - key: DB_HOST
        value: sql7.freesqldatabase.com
      - key: DB_NAME
        value: sql7787897
    autoDeploy: true

  - type: web
    name: drs-frontend
    env: docker
    plan: free
    dockerfilePath: frontend/Dockerfile
    buildCommand: ""
    autoDeploy: true
