.admin-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.error-message {
  color: #e53935;
  background-color: #fdecea;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  height: 50px; /* Fiksiraj visinu tabova */
}

.tabs button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #555;
  text-transform: uppercase;
}

.tabs button:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tabs button:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff; /* Ovdje se postavlja pozadina tabele */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Da ivice ne budu oštre */
}

table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.request-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-width: 300px;
  box-sizing: border-box;
}

.request-item p {
  margin: 5px 0;
  color: #555;
}

.request-item p strong {
  color: #333;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.accept-button,
.reject-button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 48%;
}

.accept-button {
  background-color: #4caf50;
  color: white;
}

.reject-button {
  background-color: #f44336;
  color: white;
}

.accept-button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 5px rgba(0, 128, 0, 0.2);
}

.reject-button:hover {
  background-color: #e53935;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
}

.no-requests {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.no-users {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}
