body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("background.jpg");
}
/* Osnovne postavke za scroll bar */
::-webkit-scrollbar {
  width: 12px; /* Širina scroll-bar-a */
  height: 12px; /* Visina horizontalnog scroll-bar-a */
}

/* Boja pozadine scroll-bar-a */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Pozadina */
}

/* Boja samog scroll-bar-a */
::-webkit-scrollbar-thumb {
  background-color: #7ad8fc; /* Boja scroll-bar-a */
  border-radius: 10px; /* Zaobljeni kutovi */
}

/* Boja scroll-bar-a kada je u fokusu (npr. kada ga korisnik vuče) */
::-webkit-scrollbar-thumb:hover {
  background-color: #3b5a8b; /* Tamnija boja kada je u fokusu */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #4a90e2;
  /* background-color: rgb(255, 184, 126);*/
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 1000; /* Navbar iznad ostalih elemenata */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Blaga senka */
}

.navbar-left {
  display: flex;
  align-items: top;
}

.logo {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: -30px;
  margin-left: -30px;
  cursor: pointer;
}

.app-name {
  font-size: 1.2rem;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin-top: 7px;
  margin-left: -15px;
  color: white;
  cursor: pointer;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 40%;
  height: 20px;
  margin-top: -35px;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  align-items: center;
}

.search-input:focus {
  border-color: #4caf50;
}

.search-input::placeholder {
  color: #aaa;
  transition: opacity 0.3s ease;
}

.search-input:focus::placeholder {
  opacity: 0; /* Nestaje placeholder kada korisnik kuca */
}

.search-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.add-post-button {
  position: relative;
  top: -14px;
  left: -40px;
  background-color: #ffffff;
  border: none;
  padding: 7px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-post-button:hover {
  background-color: #2737ed;
  color: white;
}

.login-button {
  background-color: #61dafb;
  border: none;
  padding: 5px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #21a1f1;
}

.profile-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
  margin-right: -5px;
}

.profile-section {
  position: relative;
  cursor: pointer;
  align-items: center;
}

.username {
  font-size: 18px;
  color: #ffffff;
  margin-top: -5px;
}

.dropdown-menu {
  position: absolute;
  top: 80%;
  right: -7px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.profile-section:hover .dropdown-menu,
.profile-section .dropdown-menu.active {
  display: block;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.discussions-section {
  position: relative;
  margin-top: 20px;
  max-height: calc(100vh - 120px);
}

.discussion-card {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.discussion-header {
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
}

.topic {
  font-size: 12px;
  color: #6b6b6b;
  text-align: left;
}

.user {
  font-size: 11px;
  color: #888;
  text-align: left;
}
.discussion-created {
  font-size: 12px;
  color: #888;
  text-align: left;
}

.discussion-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.discussion-author {
  text-align: left;
  font-size: 12px;
}
.discussion-text {
  font-size: 12px;
  font-weight: bold;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
  text-align: left;
}

.discussion-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.like-button,
.dislike-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.comment-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
  padding: 5px;
}

.comment-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-input-container .comment-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancel-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #ff5062;
  color: white;
  border-radius: 5px;
}

.add-comment-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #74b3fc;
  color: white;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #b52937;
}

.add-comment-button:hover {
  background-color: #357ab7;
}

.comments-list {
  margin-top: 10px;
}

.comment {
  background-color: #e0f7fa;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-post-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-post-title,
.add-post-text,
.add-post-theme {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.add-post-title {
  height: 40px;
}

.add-post-text {
  height: 80px;
  resize: none;
}

.add-post-theme {
  height: 40px;
  background-color: white;
}

.add-post-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.btn-save,
.btn-cancel {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-save {
  background-color: #007bff;
  color: white;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #f8f9fa;
  color: #212529;
}

.btn-cancel:hover {
  background-color: #e2e6ea;
}

.delete-comment-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
  align-self: flex-start;
}

.delete-comment-button:hover {
  background-color: transparent;
}
